html {
  background-color: #FAFAFA;
  font: 81.25% arial, helvetica, sans-serif;
}

.flexbox {
  display: -webkit-box; display: -moz-box; display: box;
}

div.run-hub-heading {
  padding-left: 57px;
  color: #FFF;
  
  background-image: linear-gradient(bottom, rgb(34,22,138) 32%, rgb(57,49,135) 66%);
  background-image: -o-linear-gradient(bottom, rgb(34,22,138) 32%, rgb(57,49,135) 66%);
  background-image: -moz-linear-gradient(bottom, rgb(34,22,138) 32%, rgb(57,49,135) 66%);
  background-image: -webkit-linear-gradient(bottom, rgb(34,22,138) 32%, rgb(57,49,135) 66%);
  background-image: -ms-linear-gradient(bottom, rgb(34,22,138) 32%, rgb(57,49,135) 66%);
  
  background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0.32, rgb(34,22,138)),
	  color-stop(0.66, rgb(57,49,135))
  );
}

#main-content {
  margin-top: 100px;
  background-color: #FFF;
  

  
  padding: 25px 50px 25px 50px;
   
  width: 350px;
  margin: 50px auto;
}

div.dialog-header {
  background-color: #1D0078;
  text-align: center;
  color: #FFF;
  width: auto;
  font-size: 20px;
  
  -moz-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
}

nav.main-bar {
  border-bottom: 1px solid #E5E5E5;
}

img.logo {
  margin: 10px 0px 10px 125px;
}

div#sign-in-container {
  background-color: #E5E5E5;
  width: 350px;
  margin: 100px auto;
  
  -moz-border-radius: 15px;
  border-radius: 15px;
  
  -moz-box-shadow: 1px 1px 1px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 1px 5px 15px 1px #888;
}

section.sign-in-section {
    padding: 0px 15px 15px 15px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

section.sign-in-section .big-input {
  font-size: 18px;
  margin-bottom: 15px;
  background-color: #FAFFBD;
  
  -moz-border-radius: 5px;
  border-radius: 5px;
}