/*
 *= require_tree . 
 */

@import "css3";

$gray: #F5F5F5;
$light-blue: #ABCFFF;
$yellow-focus: #2a6db9;
$default-button-color: #357ae8;

html {
  background-color: white;
  font: 13.34px helvetica, arial, freesans, clean, sans-serif;
}

nav.main-bar {
  position: absolute;
  left: 0;
  top: 0;
  
  width: 100%;
  height: 135px;

  @include linear-gradient(#E9F2EE, $light-blue);
  border-bottom: 2px solid #ABC;
}

#main-content {
  margin-top: 60px;

  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  
  height: 100px;
  width: 100%;
  
  @include custom-gradient($light-blue, #FFFFFF, 48%, 100%, 0.48, 1);
}

#copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#small-logo {
  margin-left: 250px;
  margin-top: 10px;
}

.sign-out {
  display: inline;
}

.current-user {
  @include linear-gradient(#FCFCFC, #E8E8E8);
  @include box-shadow(0 1px 1px rgba(0,0,0,0.2));
  @include border-radius(5px);
  
  border: 1px solid #E9E9E9;
  border-bottom-color: #F5F5F5;
  margin-right: 25px;

  height: 30px;
}

.current-user a {
  font-weight: bold;
  text-decoration: none;
  color: #4183C4;
  margin-right: 10px;
  margin-bottom: 15px;

  &:hover {
    text-decoration: underline;
  }
}
