/*
 *= require_tree . 
 */

@import "css3";

html {
  background-color: white;
  font: 13.34px helvetica, arial, freesans, clean, sans-serif;
}

nav.main-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  
  background-image: linear-gradient(bottom, white 0%, #abcfff 100%, #a8ceff 75%);
  background-image: -o-linear-gradient(bottom, white 0%, #abcfff 100%, #a8ceff 75%);
  background-image: -moz-linear-gradient(bottom, white 0%, #abcfff 100%, #a8ceff 75%);
  background-image: -webkit-linear-gradient(bottom, white 0%, #abcfff 100%, #a8ceff 75%);
  background-image: -ms-linear-gradient(bottom, white 0%, #abcfff 100%, #a8ceff 75%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(1, #abcfff), color-stop(0.75, #a8ceff));
}

div {
  &#main-content {
    margin-top: 200px;
  }
}

.button {
  background-color: #357ae8;
  color: white;
  font-size: 16px;
  padding: 5px 8px 5px 8px;
  
  @include border-radius(5px);
}

#main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  
  height: 100px;
  width: 100%;
  
  @include custom-gradient(#ABCFFF, #FFFFFF, 48%, 100%, 0.48, 1);
}

#copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#sign-up {
  background-color: #30c16a;
  font-size: 20px;
}
