html {
  background-color: #E4FDFF;
}

div.login-wrapper {
  padding: 25px 100px 25px 100px;
}

#main-content {
  position: absolute;
  left: 45%;
  top: 50%;
  margin:-200px 0 0 -150px;
  background-color: #FFF;
}

div.dialog-header {
  background-color: #1D0078;
  text-align: center;
  color: #FFF;
  width: auto;
}
