html {
  background-color: #FFF;
  font: 81.25% arial, helvetica, sans-serif;
}

.flexbox {
  display: -webkit-box; display: -moz-box; display: box;
}

div.run-hub-heading {
  padding-left: 57px;
  color: #FFF;
}

div.dialog-header {
  background-color: #B8B8B8;
  text-align: center;
  
  width: auto;
  font-size: 20px;
  font-family: Lucida Console, Monaco, monospace;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;

  
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

nav.main-bar {
  border-bottom: 1px solid #E5E5E5;
  background-color: #F5F5F5;
}

img.logo {
  margin: 10px 0px 10px 125px;
}

div#sign-in-container {
  width: 350px;
  margin: 50px auto;
  border: 1px solid #d4d4db;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  
  color: #000;
}

div#sign-in-container a {
  color: #0f2452;
  font-weight: bold;
  text-decoration: none;
}

div#sign-in-container a:hover {
  text-decoration: underline;
}

section.sign-in-section {
    padding: 8px 15px 15px 15px;
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    background-color: #F5F5F5;
    
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

section.sign-in-section .big-input {
  font-size: 18px;
  margin-bottom: 15px;
  background-color: #FAFFBD;
  
  -moz-border-radius: 5px;
  border-radius: 5px;
}