@import "application.css.scss";

$light-gray: #d4d4db;

.flexbox {
  @include flex-box();
  
  width: 800px;
  margin: 200px auto;  
}

.dialog-header {
  width: auto;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-size: 30px;
  
  text-align: left;
  padding: 10px 0px 10px 20px;
  
  @include custom-gradient($gray, $light-blue, 0%, 38%, 0, 0.38);
  @include border-radius(5px 5px 0px 0px);
}

img.logo {
  display: block;
  
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

div {
  &#site-preview-container {
    @include border-radius(6px);
    margin-right: 40px;
    color: #00032B;
  }
  
  &.preview-point {    
    margin: 8px 10px 0px 8px;
    padding: 0px 10px 0px 10px;
  }
  
  &.heading {
    font-size: 30px;
  }
  
  &.description {
    margin-left: 35px;
  }
  
  &.preview-point img {
    float: left;
    margin: 5px 10px 0px 8px;
  }
  
  &#sign-in-container {
    text-align: center;
    color: black;
    border: 1px solid $light-gray;
    
    @include border-radius(6px);
  }
}

section.sign-in-section {
  text-align: left;
  background-color: $gray;
  
  padding: 8px 15px 15px 15px;
  @include border-radius(0px 0px 5px 5px);
  
  .big-input {
    font-size: 18px;
    background-color: #faffbd;
    
    padding: 10px;
    margin-bottom: 15px;
    
    @include border-radius(5px);
    
    &:focus {
      outline: $yellow-focus solid 1px;
    }
  }
}

remember-me {
  margin-left: 15px;
}

hr {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}
