@import "application.css.scss";

.day {
  background-color: #F5F5F5;
  border: 1px solid #000;
}

section.date {
  @include flex-box-size(0);
  
  background-color: #ABC;
  width: 100px;
  text-align: center;
}

.day-of-week {
  font-size: 20px;
  text-transform: uppercase;
}

.full-date {
  font-size: 12px;
}
