@import "application.css.scss";

#workout-week {
  border-top: 1px solid #000;
}

#rewind {
  float: left;
  display: inline;
  margin-left: 15px;
}

#fast-forward {
  float: right;
  display: inline;
  margin-right: 15px;
}

#previous-period {
  display: inline;
  margin-right: 50px;
  margin-left: 25px;
  text-decoration: none;
}

header a:visited {
  color: #FFF;
}

#next-period {
  display: inline;
  margin-left: 50px;
  margin-right: 25px;
}

header.training-period-week-heading {
  @include linear-gradient(#4C47F1, #130CFF);
  color: #FFF;
  
  text-align: center;

  border-left: 1px solid #000;
  border-right: 1px solid #000;

  font-size: 25px;
  
  padding-top: 10px;
  padding-bottom: 10px;
}

.day {
  background-color: #F5F5F5;
  min-height: 50px;
  
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.period-flexbox {
  @include flex-box();
  background-color: #FFF5EE;
}

section.date {
  @include flex-box-size(0);
  
  background-color: #ABC;
  width: 100px;
  text-align: center;
}

.day-of-week {
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 10px;
}

.full-date {
  font-size: 12px;
}

.workout-set {
  @include flex-box-size(1);
  margin-bottom: 10px;
  margin-top: 10px;
}

article.workout {
  background-color: #FFF;
  border: solid 1px #DDDDDD;
  width: 96%;
  margin: 5px 10px 10px 10px;
}

.workout-flexbox {
  @include flex-box();
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 3px;

  background-color: #CCFFF8;
}

.workout-heading {
  background-color: #002D50;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  color: #FFF;
  font-weight: bold;
}

section.left-workout-info {
  @include flex-box-size(1);
}

section.right-workout-info {
  @include flex-box-size(1);
}

section.workout-notes {
  @include flex-box-size(1);
  max-width: 200px;
}

#new_workout {
  border: 1px solid #000;
  padding: 10px;

  margin-left: auto;
  margin-right: auto;

  width: 70%;
}

.mini-button {
  font-weight: bold;
  font-size: 10px;
  padding: 2px;
  height: 21px;
  color: #333;
  background-color: #D4D4D4;
  margin-left: 5px;
  border: 1px solid #5A5A5A;
  text-decoration: none;

  @include border-radius(3px 3px 3px 3px);
}

.mini-button:hover {
  @include linear-gradient(#5994F7, #0B30FF);
  color: #FFF;
}

.mini-button:active {
  @include linear-gradient(#0B30FF, #5994F7);
}

.workout-controls {
  margin-top: 5px;
  padding-bottom: 10px;
}
